__pycache__/
*.pyc
.venv/
venv/
env/
logs/
runs/

*.tfrecord
*.ckpt*
checkpoint

.ipynb_checkpoints/
.DS_Store

data/*
!data/sft/
!data/sft/conversation/
!data/sft/conversation/level0/**

# Ignore everything directly under benchmarks
/benchmarks/*

# Re-enable the path
!/benchmarks/conversation/
!/benchmarks/conversation/level0/
!/benchmarks/conversation/level0/**